@tailwind base;
@tailwind components;
@tailwind utilities;

/* Padrão de fundo geométrico personalizado */
html {
  --s: 80px; /* control the size*/
  --c1: #ffffff;
  --c2: #f7f7f7;
  
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%,var(--c2) 68% 70%,#0000 72%;
  background:
    radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s),
    radial-gradient(var(--_g) 0    75%,var(--_c)) var(--s) var(--s)/var(--_s),
    radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s),
    radial-gradient(var(--_g) 0    75%,var(--_c)) 0 0/var(--_s),
    repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%) 0 0/var(--_s),
    radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s)
    var(--c1);
  min-height: 100vh;
}

body {
  background: transparent;
  min-height: 100vh;
}

#root {
  background: transparent;
  min-height: 100vh;
}